html {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 1440px;
  height: 900px;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  margin: auto;
  width: 1440px;
  height: 112px;
  display: flex;
}

.logo_big {
  width: 65.53px;
  height: 60px;
  margin: 26px 0 26px 86px;
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: none;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 365px;
  height: 24.5px;
  margin: 44px 0 43.5px 192.47px;
}
.menu li {
  margin-right: 56px;
}
.menu a {
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #282a28;
}
.menu .menu-active {
  color: #d3c1ac;
}
.menu .menu-active .underline {
  box-sizing: content-box;
  width: 30px;
  height: 3px;
  background: #d3c1ac;
  margin: 8px auto 0 auto;
}

.language-sel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 64px;
  height: 21px;
  margin: 44px 152px 47px 515px;
}
.language-sel a {
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #a2a6a0;
  text-decoration: none;
  margin: 0;
}
.language-sel a.lang-active {
  color: #282a28;
}
.language-sel a:nth-child(1) {
  margin-right: 11px;
}

main {
  display: flex;
  width: 1335px;
  height: 598px;
  margin: 24px 0 70px 105px;
}
main .scroll-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 72px;
  height: 131.28px;
  margin: 251.14px 167px 301.86px 0;
}
main .scroll-info .scroll-info-text {
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  width: 72px;
  height: 45px;
  margin: 24px 0;
  color: #d3c1ac;
}
main .scroll-info .scroll-info-arrow {
  width: 16px;
  height: 19px;
}
main .service-picker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 258px;
  height: 260px;
  margin: 144px 107px 194px 0;
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}
main .service-picker a {
  margin-bottom: 40px;
  color: #b6b9b6;
}
main .service-picker a:last-child {
  margin-bottom: 0;
}
main .service-picker-active {
  position: relative;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  list-style: circle;
  color: #282a28 !important;
  margin-left: 29px;
  transition: all 400ms;
}
main .service-picker-active::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -28px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: #d3c1ac;
}
main .service-imgage {
  position: relative;
  margin-bottom: 50px;
  width: 731px;
  height: 548px;
  transition: all 400ms;
}
main .service-imgage .service-image-description {
  font-family: Quicksand;
  box-sizing: border-box;
  position: absolute;
  right: 48px;
  bottom: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(82.68deg, rgba(171, 164, 156, 0.8) 12.16%, rgba(249, 246, 234, 0.8) 79.63%);
  background: rgba(255, 255, 255, 0.48);
  backdrop-filter: blur(40px);
  width: 395px;
  height: 164px;
}
main .service-imgage .service-image-description p {
  font-weight: 400;
  width: 298px;
  height: 40px;
  margin: 56px 56px 24px 40px;
}
main .service-imgage .service-image-description a {
  width: 63px;
  height: 20px;
  margin: 0 9.4px 24px 40px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #282a28;
}
main .service-imgage .service-image-description a img {
  margin-left: 8px;
  vertical-align: middle;
}

footer {
  display: flex;
  align-items: center;
  width: 1440px;
  height: 96px;
  margin: 0;
}
footer .logo_small {
  width: 42px;
  height: 30px;
  margin: 33px 191.19px 33px 111px;
}
footer .icon {
  height: 24px;
  width: 24px;
  margin-right: 16px;
}
footer .container {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #282a28;
}
footer .contacts.container {
  margin-right: 368.57px;
}
footer .address.container {
  width: 211px;
  height: 40px;
  margin-right: 56px;
}
footer .phone.container {
  width: 145px;
  height: 24px;
}
footer .phone.container a {
  color: #282a28;
}
footer .social.container {
  margin-right: 152px;
}
footer .social.container img {
  height: 32px;
  width: 32px;
}
footer .social.container .dot {
  width: 3px;
  height: 3px;
  background: #b6b9b6;
  border-radius: 10px;
  margin: 0 16px;
}

@media (max-width: 834px) {
  html {
    height: 1194px;
  }

  body {
    width: 834px;
    height: 1194px;
  }

  header {
    width: 834px;
    height: 112px;
  }
  header .logo_big {
    margin: 26px 528px 26px 41px;
    width: 65.53px;
    height: 60px;
  }
  header .menu-icon {
    display: inline;
    order: 5;
    margin: 44px 41px 44px 0;
    width: 36px;
    height: 24px;
  }
  header .menu-icon :hover {
    transition: all 1s;
    transform: rotate(90deg);
  }
  header .menu {
    display: none;
  }
  header .language-sel {
    margin: 47px 64px 46px 0;
  }
  header .language-sel a {
    font-size: 16px;
    line-height: 19px;
  }
  header .language-sel .lang-active {
    font-size: 16px;
    line-height: 19px;
  }

  main {
    width: 834px;
    height: 825px;
    flex-direction: column;
    align-items: center;
    margin: 22px 0 63px 0;
  }
  main .scroll-info {
    display: none;
  }
  main .service-picker {
    width: 192px;
    height: 222px;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto 38px;
  }
  main .service-picker a {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 28px;
  }
  main .service-picker .service-picker-active {
    font-size: 40px;
    line-height: 47px;
    margin-top: 23px;
    margin-left: 0;
  }
  main .service-picker .service-picker-active::before {
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
  }
  main .service-imgage {
    position: relative;
    background-size: cover;
    width: 834px;
    height: 491px;
    margin-bottom: 0;
  }
  main .service-imgage .service-image-description {
    left: 206px;
    top: 321px;
    width: 421px;
    height: 244px;
  }
  main .service-imgage .service-image-description p {
    width: 318px;
    height: 108px;
    font-size: 24px;
    line-height: 36px;
  }
  main .service-imgage .service-image-description a {
    width: 82px;
    height: 32px;
    font-size: 24px;
    line-height: 30px;
  }

  footer {
    width: 834px;
    height: 172px;
  }
  footer .logo_small {
    margin: 71px 127px 71px 41px;
  }
  footer .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #282a28;
  }
  footer .contacts.container {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 211px;
    height: 88px;
    margin-right: 212px;
  }
  footer .address.container {
    margin: 0 0 24px 0;
  }
  footer .phone.container {
    margin: 0;
  }
  footer .social.container img:last-child {
    margin-right: 45.5px;
  }
}
@media (max-width: 375px) {
  html {
    height: 812px;
  }

  body {
    width: 375px;
    height: 812px;
  }

  header {
    width: 375px;
    height: 72px;
  }
  header .logo_big {
    margin: 16px 177px 16px 20px;
    width: 43.68px;
    height: 40px;
  }
  header .menu-icon {
    display: inline;
    order: 5;
    margin: 24px 19px 24px 0;
    width: 36px;
    height: 24px;
  }
  header .menu-icon :hover {
    transition: all 1s;
    transform: rotate(90deg);
  }
  header .menu {
    display: none;
  }
  header .language-sel {
    margin: 29px 35.5px 29px 0;
  }
  header .language-sel a {
    font-size: 12px;
    line-height: 14px;
    margin-right: 7.5px;
  }
  header .language-sel .lang-active {
    font-size: 12px;
    line-height: 14px;
  }

  main {
    width: 375px;
    height: 534.21px;
    flex-direction: column;
    align-items: center;
    margin: 24px 0 21.8px;
  }
  main .scroll-info {
    display: none;
  }
  main .service-picker {
    width: 154px;
    height: 158.16px;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto 19.8px;
  }
  main .service-picker a {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
  }
  main .service-picker .service-picker-active {
    font-size: 32px;
    line-height: 37px;
    margin-top: 16px;
    margin-left: 0;
  }
  main .service-picker .service-picker-active::before {
    width: 8.16px;
    height: 8.16px;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
  }
  main .service-imgage {
    position: relative;
    background-size: cover;
    width: 375px;
    height: 310px;
    margin-bottom: 0;
  }
  main .service-imgage .service-image-description {
    left: 45px;
    top: 189px;
    width: 286px;
    height: 167px;
  }
  main .service-imgage .service-image-description p {
    font-size: 16px;
    line-height: 24px;
    margin: 40px 46px 16px 24px;
    width: 216.26px;
    height: 73.45px;
  }
  main .service-imgage .service-image-description a {
    width: 58.32px;
    height: 21.76px;
    font-size: 16px;
    line-height: 20px;
    margin: 0 204px 16px 24px;
  }
  main .service-imgage .service-image-description a img {
    width: 8px;
    height: 8px;
  }

  footer {
    width: 375px;
    height: 160px;
    flex-wrap: wrap;
  }
  footer .logo_small {
    width: 33.45px;
    height: 24px;
    margin: 29px 137px 0 44px;
  }
  footer .icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  footer .container {
    font-size: 14px;
    line-height: 17px;
  }
  footer .contacts.container {
    flex-direction: row;
    align-items: center;
    width: 336px;
    height: 36px;
    order: 3;
    margin: 46px auto 0;
  }
  footer .address.container {
    margin: 0 0 24px 0;
  }
  footer .phone.container {
    margin: 0 auto 25px 43px;
  }
  footer .social.container {
    width: 142px;
    height: 24px;
    order: 2;
    margin: 29px 18.5px 0 0;
  }
  footer .social.container img {
    height: 24px;
    width: 24px;
  }
  footer .social.container img:last-child {
    margin-right: 0px;
  }
}

/*# sourceMappingURL=main.css.map */
