$breakpoint-ipad: 834px;
$breakpoint-iphone: 375px;

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 1440px;
  height: 900px;
  margin: auto;
}

a {
  text-decoration: none;
}

//header

header {
  position: relative;
  margin: auto;
  width: 1440px;
  height: 112px;
  display: flex;
}
.logo_big {
  width: 65.53px;
  height: 60px;
  margin: 26px 0 26px 86px;
}
.menu-btn {
  display: none;
}
.menu-icon {
  display: none;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 365px;
  height: 24.5px;
  margin: 44px 0 43.5px 192.47px;
  li {
    margin-right: 56px;
  }
  a {
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #282a28;
  }
  .menu-active {
    color: #d3c1ac;
    .underline {
      box-sizing: content-box;
      width: 30px;
      height: 3px;
      background: #d3c1ac;
      margin: 8px auto 0 auto;
    }
  }
}

.burger-menu {
  display: none;
}

.show-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  margin-bottom: 60px;
  a {
    color: #282a28;
    margin: 20px auto;
    &.menu-active {
      color: #d3c1ac;
    }
  }
}

.language-sel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 64px;
  height: 21px;
  margin: 44px 152px 47px 515px;
  a {
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #a2a6a0;
    text-decoration: none;
    margin: 0;
    &.lang-active {
      color: #282a28;
    }
  }
  a:nth-child(1) {
    margin-right: 11px;
  }
}

//main

main {
  display: flex;
  width: 1335px;
  height: 598px;
  margin: 24px 0 70px 105px;

  .scroll-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 72px;
    height: 131.28px;
    margin: 251.14px 167px 301.86px 0;
    .scroll-info-text {
      font-family: Quicksand;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
      width: 72px;
      height: 45px;
      margin: 24px 0;
      color: #d3c1ac;
    }
    .scroll-info-arrow {
      width: 16px;
      height: 19px;
    }
  }
  .service-picker {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 258px;
    height: 260px;
    margin: 144px 107px 194px 0;
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    a {
      margin-bottom: 40px;
      color: #b6b9b6;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .service-picker-active {
    position: relative;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    list-style: circle;
    color: #282a28 !important;
    margin-left: 29px;
    transition: all 400ms;
    text-align: center;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -28px;
      width: 12px;
      height: 12px;
      border-radius: 10px;
      background: #d3c1ac;
    }
  }
  .service-imgage {
    position: relative;
    margin-bottom: 50px;
    width: 731px;
    height: 548px;
    transition: all 400ms;

    .service-image-description {
      font-family: Quicksand;
      box-sizing: border-box;
      position: absolute;
      right: 48px;
      bottom: -50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border: 1px solid;
      border-image-slice: 1;
      border-width: 1px;
      border-image-source: linear-gradient(
        82.68deg,
        rgba(171, 164, 156, 0.8) 12.16%,
        rgba(249, 246, 234, 0.8) 79.63%
      );
      background: rgba(255, 255, 255, 0.48);
      backdrop-filter: blur(40px);
      width: 395px;
      height: 164px;
      p {
        font-weight: 400;
        width: 298px;
        height: 40px;
        margin: 56px 56px 24px 40px;
      }
      a {
        width: 63px;
        height: 20px;
        margin: 0 9.4px 24px 40px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #282a28;
        img {
          margin-left: 8px;
          vertical-align: middle;
        }
      }
    }
  }
}

//footer

footer {
  display: flex;
  align-items: center;
  width: 1440px;
  height: 96px;
  margin: 0;
  background: #fafaf9;
  .logo_small {
    width: 42px;
    height: 30px;
    margin: 33px 191.19px 33px 111px;
  }
  .icon {
    height: 24px;
    width: 24px;
    margin-right: 16px;
  }
  .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #282a28;
  }
  .contacts.container {
    margin-right: 368.57px;
  }
  .address.container {
    width: 211px;
    height: 40px;
    margin-right: 56px;
  }
  .phone.container {
    width: 145px;
    height: 24px;
    a {
      color: #282a28;
    }
  }
  .social.container {
    margin-right: 152px;
    img {
      height: 32px;
      width: 32px;
    }
    .dot {
      width: 3px;
      height: 3px;
      background: #b6b9b6;
      border-radius: 10px;
      margin: 0 16px;
    }
  }
}

@media (min-width: 1025px) {
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  header {
    margin-top: 0;
    margin-bottom: 0;
  }
  main {
    margin-top: 0;
  }
  footer {
    margin-top: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  body {
    width: 1024px;
    height: auto;
  }
  header {
    width: 1024px;
    .logo_big {
      margin: auto auto auto 60px;
    }
    nav {
      margin: auto 0;
    }
    .menu {
      margin: auto 0;
    }
    .language-sel {
      margin: auto 60px auto auto;
    }
  }
  main {
    width: 1024px;
    margin: 0;
    .scroll-info {
      display: none;
    }
    .service-picker {
      margin-left: 51px;
      margin-right: 95px;
    }
    .service-imgage {
      width: 620px;
      .service-image-description {
        left: 140px;
        top: 430px;
        p {
          width: 318px;
          height: 90px;
          font-size: 17px;
          line-height: 25px;
        }
      }
    }
  }
  footer {
    width: 1024px;
    flex-wrap: wrap;
    .logo_small {
      margin: 0 40px;
    }
    .contacts.container {
      flex-direction: column;
      margin: 10px auto;
    }
    .address.container {
      margin: 0;
      justify-content: center;
    }
    .phone.container {
      margin: 20px auto 0;
      justify-content: center;
    }
    .social.container {
      margin: 0 40px 0 0;
      img:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: $breakpoint-ipad) {
  html {
    height: 1194px;
  }
  body {
    width: 834px;
    height: 1194px;
  }
  header {
    width: 834px;
    height: 112px;
    .logo_big {
      margin: 26px 528px 26px 41px;
      width: 65.53px;
      height: 60px;
    }
    .menu-icon {
      display: inline;
      order: 5;
      margin: 44px 41px 44px 0;
      width: 36px;
      height: 24px;
      user-select: none;
    }
    .menu {
      display: none;
    }
    .language-sel {
      margin: 47px 64px 46px 0;
      a {
        font-size: 16px;
        line-height: 19px;
      }
      .lang-active {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
  main {
    width: 834px;
    height: 825px;
    flex-direction: column;
    align-items: center;
    margin: 22px 0 63px 0;
    .scroll-info {
      display: none;
    }
    .service-picker {
      width: 305px;
      height: 222px;
      justify-content: flex-start;
      align-items: center;
      margin: 0 auto 38px;
      a {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 28px;
      }
      .service-picker-active {
        font-size: 40px;
        line-height: 47px;
        margin-top: 23px;
        margin-left: 0;
        &::before {
          top: -24px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .service-imgage {
      position: relative;
      background-size: cover;
      width: 834px;
      height: 491px;
      margin-bottom: 0;
      .service-image-description {
        left: 206px;
        top: 321px;
        width: 421px;
        height: 244px;
        p {
          width: 318px;
          height: 108px;
          font-size: 24px;
          line-height: 36px;
        }
        a {
          width: 82px;
          height: 32px;
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
  }
  footer {
    width: 834px;
    height: 172px;
    flex-wrap: nowrap;
    .logo_small {
      margin: auto 123px auto 41px;
    }
    .container {
      display: flex;
      align-items: center;
      flex-direction: row;
      font-family: Quicksand;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #282a28;
    }

    .contacts.container {
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      flex-wrap: nowrap;
      width: 211px;
      height: 88px;
      margin: auto 212.6px auto 0;
    }

    .address.container {
      margin: 0 0 26px 0;
    }
    .phone.container {
      margin: 0;
    }
    .social.container {
      width: 166px;
      height: 32px;
      margin: auto 41px auto 0;
    }
  }
}

@media (max-width: 768px) {
  body {
    width: 768px;
  }
  header {
    width: 768px;
    .logo_big {
      width: 65px;
      margin: auto auto auto 41px;
    }
  }
  main {
    width: 768px;
    .service-imgage {
      width: 768px;
      .service-image-description {
        left: 180px;
        top: 325px;
        p {
          width: 318px;
          height: 90px;
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
  footer {
    width: 768px;
    flex-wrap: wrap;
    .logo_small {
      margin: 0 40px;
    }
    .contacts.container {
      flex-direction: column;
      margin: 10px auto;
    }
    .address.container {
      margin: 0;
      justify-content: center;
    }
    .phone.container {
      margin: 20px auto 0;
      justify-content: center;
    }
    .social.container {
      margin: 0 40px 0 0;
      img:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 425px) {
  body {
    width: 425px;
  }
  header {
    width: 425px;
    margin: 0;
    .logo_big {
      width: 50px;
      margin: auto auto auto 50px;
    }
  }
  main {
    width: 425px;
    .service-picker {
      width: 425px;
      .service-picker-active {
        font-size: 25px;
        line-height: 33px;
      }
    }

    .service-imgage {
      width: 425px;
      .service-image-description {
        width: 270px;
        height: 160px;
        left: 75px;
        top: 410px;
        margin: 0;
        p {
          width: 240px;
          font-size: 14px;
          margin: 10px auto;
        }
        a {
          font-size: 14px;
          line-height: 20px;
          margin: 0 0 0 15px;
        }
      }
    }
  }
  footer {
    width: 425px;
    flex-wrap: wrap;
    .logo_small {
      margin: auto;
    }
    .contacts.container {
      width: 425px;
      height: auto;
      align-items: center;
      flex-direction: column;
      margin: 10px auto;
      order: 2;
    }
    .address.container {
      margin: 0;
      justify-content: center;
    }
    .phone.container {
      margin: 20px auto 0;
      justify-content: center;
    }
    .social.container {
      margin: 0 auto;
      order: 1;
    }
  }
}

@media (max-width: $breakpoint-iphone) {
  html {
    height: 812px;
  }
  body {
    width: 375px;
    height: 812px;
  }
  header {
    width: 375px;
    height: 72px;
    .logo_big {
      margin: 16px 177px 16px 20px;
      width: 43.68px;
      height: 40px;
    }
    .menu-icon {
      display: inline;
      order: 5;
      margin: 24px 19px 24px 0;
      width: 36px;
      height: 24px;
      :hover {
        transition: all 1s;
        transform: rotate(90deg);
      }
    }
    .menu {
      display: none;
    }
    .language-sel {
      margin: 29px 35.5px 29px 0;
      a {
        font-size: 12px;
        line-height: 14px;
        margin-right: 7.5px;
      }
      .lang-active {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
  main {
    width: 375px;
    height: 534.21px;
    flex-direction: column;
    align-items: center;
    margin: 24px 0 21.8px;
    .scroll-info {
      display: none;
    }
    .service-picker {
      width: 244px;
      height: 158.16px;
      justify-content: center;
      align-items: center;
      margin: 0 auto 19.8px;
      a {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 16px;
      }
      .service-picker-active {
        font-size: 32px;
        line-height: 37px;
        margin-top: 16px;
        margin-left: 0;
        &::before {
          width: 8.16px;
          height: 8.16px;
          top: -14px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .service-imgage {
      position: relative;
      background-size: cover;
      width: 375px;
      height: 310px;
      margin-bottom: 0;
      .service-image-description {
        left: 45px;
        top: 189px;
        width: 286px;
        height: 167px;
        p {
          font-size: 16px;
          line-height: 24px;
          margin: 40px 46px 16px 24px;
          width: 216.26px;
          height: 73.45px;
        }
        a {
          width: 58.32px;
          height: 21.76px;
          font-size: 16px;
          line-height: 20px;
          margin: 0 204px 16px 24px;
          img {
            width: 8px;
            height: 8px;
          }
        }
      }
    }
  }
  footer {
    width: 375px;
    height: 160px;
    flex-wrap: wrap;
    .logo_small {
      width: 33.45px;
      height: 24px;
      margin: 29px 137px 0 44px;
    }
    .icon {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
    .container {
      font-size: 14px;
      line-height: 17.5px;
    }

    .contacts.container {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 336px;
      height: 36px;
      order: 3;
      margin: 46px auto 25px auto;
      justify-content: space-between;
    }

    .address.container {
      width: 174px;
      height: 36px;
    }
    .phone.container {
      width: 116px;
      height: 18px;
      margin: auto 0;
    }
    .social.container {
      width: 142px;
      height: 25px;
      order: 2;
      margin: 29px 18.5px 0 0;
      img {
        height: 24px;
        width: 24px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  body {
    width: 320px;
  }
  header {
    width: 320px;
    margin: auto;
    .logo_big {
      margin-right: 100px;
    }
  }
  main {
    width: 320px;
    .service-picker {
      justify-content: center;
      align-items: center;
      margin: 0 auto 20px;
      width: 320px;
      a {
        font-size: 14px;
        line-height: 16px;
      }
      .service-picker-active {
        font-size: 28px;
        line-height: 34px;
      }
    }

    .service-imgage {
      width: 320px;
      .service-image-description {
        width: 270px;
        height: 140px;
        left: 25px;
        top: 210px;
        p {
          font-size: 14px;
          margin: 10px auto;
        }
        a {
          font-size: 14px;
          line-height: 20px;
          margin: 0 0 0 15px;
        }
      }
    }
  }
  footer {
    width: 320px;
    .logo_small {
      margin: auto;
    }
    .contacts.container {
      height: auto;
      flex-direction: column;
      margin: 10px auto;
    }
    .address.container {
      margin: 0;
      justify-content: center;
    }
    .phone.container {
      margin: 20px auto 0;
      justify-content: center;
    }
    .social.container {
      margin: 0 auto;
    }
  }
}
