$breakpoint-ipad: 834px;
$breakpoint-iphone: 375px;

html {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 1440px;
  height: 900px;
}

a {
  text-decoration: none;
}

//header

header {
  position: relative;
  margin: auto;
  width: 1440px;
  height: 112px;
  display: flex;
}
.logo_big {
  width: 65.53px;
  height: 60px;
  margin: 26px 0 26px 86px;
}
.menu-btn {
  display: none;
}
.menu-icon {
  display: none;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 365px;
  height: 24.5px;
  margin: 44px 0 43.5px 192.47px;
  a {
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #282a28;
    flex: none;
    flex-grow: 0;
    margin-right: 56px;
  }
  :nth-child(1) {
    margin-right: 56px;
  }
  :nth-child(2) {
    margin: 0px;
  }
  :nth-child(3) {
    margin: 0px 56px;
  }
}

.language-sel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 64px;
  height: 21px;
  margin: 44px 152px 47px 515px;
  a {
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #a2a6a0;
    text-decoration: none;
    margin: 0;
    &.lang-active {
      color: #282a28;
    }
  }
  a:nth-child(1) {
    margin-right: 11px;
  }
  a:nth-child(2) {
    margin-right: 152px;
  }
}

//main

main {
  display: flex;
  width: 1335px;
  height: 598px;
  margin: 24px 0 70px 105px;
  .scroll-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 72px;
    height: 131.28px;
    margin: 251.14px 167px 301.86px 0;
    .scroll-info-text {
      font-family: Quicksand;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
      width: 72px;
      height: 45px;
      margin: 24px 0;
      color: #d3c1ac;
    }
    .scroll-info-arrow {
      width: 16px;
      height: 19px;
    }
  }
  .service-picker {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 258px;
    height: 260px;
    margin: 144px 107px 194px 0;
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    a {
      margin-bottom: 40px;
      color: #b6b9b6;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .service-picker-active {
    position: relative;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    list-style: circle;
    color: #282a28 !important;
    margin-left: 28px;
    &::before {
      content: "";
      position: absolute;
      top: 22px;
      left: -28px;
      width: 12px;
      height: 12px;
      border-radius: 10px;
      background: #d3c1ac;
    }
  }
  .service-imgage {
    position: relative;
    margin-bottom: 50px;
    width: 731px;
    height: 548px;
    background: url(/img/kitchen_b.png);

    .service-image-description {
      font-family: Quicksand;
      box-sizing: border-box;
      position: absolute;
      right: 48px;
      bottom: -50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border: 1px solid;
      border-image-slice: 1;
      border-width: 1px;
      border-image-source: linear-gradient(
        82.68deg,
        rgba(171, 164, 156, 0.8) 12.16%,
        rgba(249, 246, 234, 0.8) 79.63%
      );
      background: rgba(255, 255, 255, 0.48);
      backdrop-filter: blur(40px);
      width: 395px;
      height: 164px;
      p {
        font-weight: 400;
        width: 298px;
        height: 40px;
        margin: 56px 56px 24px 40px;
      }
      a {
        width: 63px;
        height: 20px;
        margin: 0 9.4px 24px 40px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #282a28;
        img {
          margin-left: 8px;
          vertical-align: middle;
        }
      }
    }
  }
}

//footer

footer {
  display: flex;
  align-items: center;
  width: 1440px;
  height: 96px;
  margin: 0;
  .logo_small {
    width: 42px;
    height: 30px;
    margin: 33px 191.19px 33px 111px;
  }
  .icon {
    height: 24px;
    width: 24px;
    margin-right: 16px;
  }
  .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #282a28;
  }

  .address.container {
    width: 211px;
    height: 40px;
    margin-right: 56px;
  }
  .phone.container {
    width: 145px;
    height: 24px;
    margin-right: 368.57px;
    a {
      color: #282a28;
    }
  }
  .social.container {
    img {
      height: 32px;
      width: 32px;
      &:last-child {
        margin-right: 156.5px;
      }
    }
    .dot {
      width: 3px;
      height: 3px;
      background: #b6b9b6;
      border-radius: 10px;
      margin: 0 16px;
    }
  }
}

@media (max-width: $breakpoint-ipad) {
  html {
    height: 1194px;
  }
  body {
    width: 834px;
    height: 1194px;
  }
  header {
    width: 834px;
    height: 112px;
    .logo_big {
      margin: 26px 528px 26px 41px;
      width: 65.53px;
      height: 60px;
    }
    .menu-icon {
      display: inline;
      order: 5;
      margin: 44px 41px 44px 0;
      :hover {
        transition: all 1s;
        transform: rotate(90deg);
      }
    }
    .menu {
      display: none;
    }
    .language-sel {
      a {
        font-size: 16px;
        line-height: 19px;
      }
      margin: 47px 64px 46px 0;
      .lang-active {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
  main {
    width: 834px;
    height: 825px;
    flex-direction: column;
    align-items: center;
    margin: 22px 0 63px 0;
    .scroll-info {
      display: none;
    }
    .service-picker {
      width: 192px;
      height: 222px;
      justify-content: center;
      align-items: center;
      margin: 0 auto 38px;
      a {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 28px;
      }
      .service-picker-active {
        font-size: 40px;
        line-height: 47px;
        margin-top: 23px;
        margin-left: 0;
        &::before {
          top: -24px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .service-imgage {
      position: relative;
      background-size: cover;
      width: 834px;
      height: 491px;
      margin-bottom: 0;
      .service-image-description {
        left: 206px;
        top: 321px;
        width: 421px;
        height: 244px;
        p {
          width: 318px;
          height: 108px;
          font-size: 24px;
          line-height: 36px;
        }
        a {
          width: 82px;
          height: 32px;
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
  }
  footer {
    width: 834px;
    height: 172px;
    .logo_small {
      margin: 71px 127px 71px 41px;
    }
    .container {
      display: flex;
      align-items: center;
      flex-direction: row;
      font-family: Quicksand;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #282a28;
    }

    .contacts.container {
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      flex-wrap: nowrap;
      width: 211px;
      height: 88px;
      margin-right: 212px;
    }

    .address.container {
      margin: 0 0 24px 0;
    }
    .phone.container {
      margin: 0;
    }
    .social.container {
      img {
        &:last-child {
          margin-right: 45.5px;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-iphone) {
  html {
    height: 1194px;
  }
  body {
    width: 375px;
    height: 812px;
  }
  header {
    width: 834px;
    height: 112px;
    .logo_big {
      margin: 26px 528px 26px 41px;
      width: 65.53px;
      height: 60px;
    }
    .menu-icon {
      display: inline;
      order: 5;
      margin: 44px 41px 44px 0;
      :hover {
        transition: all 1s;
        transform: rotate(90deg);
      }
    }
    .menu {
      display: none;
    }
    .language-sel {
      a {
        font-size: 16px;
        line-height: 19px;
      }
      margin: 47px 64px 46px 0;
      .lang-active {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
  main {
    width: 834px;
    height: 825px;
    flex-direction: column;
    align-items: center;
    margin: 22px 0 63px 0;
    .scroll-info {
      display: none;
    }
    .service-picker {
      width: 192px;
      height: 222px;
      justify-content: center;
      align-items: center;
      margin: 0 auto 38px;
      a {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 28px;
      }
      .service-picker-active {
        font-size: 40px;
        line-height: 47px;
        margin-top: 23px;
        margin-left: 0;
        &::before {
          top: -24px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .service-imgage {
      position: relative;
      background-size: cover;
      width: 834px;
      height: 491px;
      margin-bottom: 0;
      .service-image-description {
        left: 206px;
        top: 321px;
        width: 421px;
        height: 244px;
        p {
          width: 318px;
          height: 108px;
          font-size: 24px;
          line-height: 36px;
        }
        a {
          width: 82px;
          height: 32px;
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
  }
  footer {
    width: 834px;
    height: 172px;
    .logo_small {
      margin: 71px 127px 71px 41px;
    }
    .container {
      display: flex;
      align-items: center;
      flex-direction: row;
      font-family: Quicksand;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #282a28;
    }

    .contacts.container {
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      flex-wrap: nowrap;
      width: 211px;
      height: 88px;
      margin-right: 212px;
    }

    .address.container {
      margin: 0 0 24px 0;
    }
    .phone.container {
      margin: 0;
    }
    .social.container {
      img {
        &:last-child {
          margin-right: 45.5px;
        }
      }
    }
  }
}
